---
import { getCollection } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.posted.valueOf() - a.data.posted.valueOf(),
);
const notes = (await getCollection("notes")).sort(
  (a, b) => b.data.posted.valueOf() - a.data.posted.valueOf(),
);
const dateFormat = new Intl.DateTimeFormat("en-US", {
  day: "2-digit",
  month: "short",
  year: "numeric",
});
---

<BaseLayout title="Writes">
  <div class="py-16">
    <h1 class="Heading1">Writes</h1>
  </div>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/writes/posts/${post.id}`}>{post.data.title}</a>
          <span>{dateFormat.format(post.data.posted)}</span>
        </li>
      ))
    }
  </ul>
  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={`/writes/notes/${note.id}`}>{note.data.title}</a>
          <span>{dateFormat.format(note.data.posted)}</span>
        </li>
      ))
    }
  </ul>
</BaseLayout>
